.form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}