.container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #e2dbc8;
}

.sidebar {
  width: 250px;
  background: #b8a282;
  color: black(255, 255, 255);
  padding: 20px;
  overflow-y: auto;
  box-shadow:5px 4px 10px rgba(0,0,0,0.1);
}

.transaction {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.main h1 {
  font-size: 50px;
  font-weight: bold;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.balance {
  font-size: 48px;
  margin: 20px 0;
}

.summary {
  display: flex;
  gap: 40px;
}

.plus {
  color: green;
}

.minus {
  color: red;
}

.add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background: #4caf50;
  color: white;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.right-panel {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.summary-box {
  background: #b8a282;
  color: black;
  padding: 25px;
  border-radius: 12px;
  width: 200px;
  height: auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.coin-image {
  margin-top: 20px;
  width: 200px;
  image-rendering: pixelated;
}